body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-image: url('images/header.jpg');
}

.navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #333;
    color: white;
    transition: all 0.3s;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.content {
    margin-left: 220px;
    padding-left: 20px;
}

.sectionLabel,
.sectionLabel:hover {
    padding-left: 20px;
    width: fill;
    height: fill;
}

.sectionLabel:hover {
    background-color: white;
    color: black;
}

section {
    padding: 20px;
    display: none;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Reset some default styles */
h1, h2, p, form {
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}


select,
input[type="submit"] {
    padding: 8px;
    margin-bottom: 15px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.total {
    font-weight: bold;
    text-align: right;
}

.styled-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #2980b9;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}